{% block graphic_patients_per_diagnosis %}
    {# ... #}
    <h1>Bloque 1</h1>
{% endblock graphic_patients_per_diagnosis %}
{% block table_patients %}
    <h1>Bloque 2</h1>
{% endblock table_patients %}